.wrap {
	position: relative;
	font-size: 15px;
	line-height: 24px;
}

.wrap_selector {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
	border: 1px solid rgba(19, 8, 23, 0.2);
	border-radius: 8px;
	padding: 10px 12px 10px 16px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.1s ease;
}

.wrap_selector:hover {
	border: 1px solid rgba(110, 50, 140, 0.48);
	box-shadow: 0 0 0 3px rgba(113, 48, 142, 0.12);
}

.wrap_dropdown {
	position: absolute;
	top: 110%;
	left: 0;
	z-index: 100;
	width: max-content;
	min-width: 100%;
	border: 1px solid rgba(19, 8, 23, 0.05);
	border-radius: 8px;
	padding: 4px;
	backdrop-filter: blur(24px);
	box-shadow: 0 16px 64px -4px rgba(22, 8, 30, 0.08);
	background: #fff;
	opacity: 1;
	pointer-events: all;
	transform: scaleY(1);
	transition: all 0.2s ease-in-out;
	transform-origin: 0 0;
}



.wrap_tags {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	flex-grow: 3;
}

.tag {
	display: flex;
	align-items: center;
	gap: 3px;
	border-radius: 4px;
	padding: 0 7px;
	background: rgba(110, 50, 140, 0.06);
	color: #6e328c;
	font-weight: 600;
}



.placeholder {
	font-weight: 500;
	letter-spacing: -0.01em;
	color: rgba(19, 8, 23, 0.4);
	flex-grow: 1;
}

.list {
	flex-direction: column;
	overflow-y: auto;
	max-height: 200px;
	scrollbar-color: #919399 transparent;
	scrollbar-width: thin;
	cursor: pointer;
}

.list::-webkit-scrollbar {
	width: 10px;

}

.list::-webkit-scrollbar-track {
	background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
	background-color: #919399;
	border: 3px solid transparent;
	border-radius: 9px;
	background-clip: content-box;
}

.list::-webkit-scrollbar-thumb:vertical {
	height: 10px;
}

.list_item {
	padding: 8px 12px;
	border-radius: 8px;
	background-color: #fff;
	transition: background-color 0.1s ease-in-out;
}

.list_item:not(:last-child) {
	margin-bottom: 4px;
}

.list_item:hover {
	background: rgba(19, 8, 23, 0.05);
}

.list_item_selected {
	background: rgba(19, 8, 23, 0.05);
}

.search_input {
	flex-grow: 1;
}


.search_input:focus {
	border: none;
	outline: none;
	flex-grow: 1;
}

.single_content {
	flex-grow: 1;
}

.icon {
	transform: rotate(0deg);
	transition: transform 0.2s ease-in-out;
	flex-grow: 0;
	flex-shrink: 0;
}

.rotated {
	transform: rotate(180deg);
}

.visually-hidden {
	opacity: 0;
	pointer-events: none;
	transform: scaleY(0);
}

.disabled {
	border: 1px solid rgba(19, 8, 23, 0.1);
	cursor: auto;
}

.text_gray {
	color: #b4b2b2;
}

.create_option {
	display: flex;
	align-items: center;
	padding: 5px;
	margin-top: 20px;
	gap: 4px;
	transition: background-color 0.1s ease-in-out;
	cursor: pointer;
	border-radius: 5px;
}

.create_option:hover {
	background-color: #f1eeee;
}

.error {
	border: 1px solid #e8433d;
	box-shadow: 0 0 0 3px rgba(232, 67, 61, 0.12);
}